body{
    height: 100%;
    background: linear-gradient(to bottom, rgb(6, 66, 6),rgb(17, 179, 17),rgb(6, 66, 6));

    
}


#machine{
    margin-left: 30%;
    width:40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    position: relative;
    width: 125px;
    height: 195px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .bg {
    position: relative;
    top: 5px;
    left: 5px;
    width: 120px;
    height: 190px;
    z-index: 2;
   
    
    border-radius: 10px;
    overflow: hidden;
   
  }
  
  
  

  #chkoba{
    margin-top: 5%;
    margin-left: 15%;
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#joueur{
    margin-top: 5%;
    margin-left: 30%;
    width:40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}






.bg-back {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 120px;
    height: 170px;
    z-index: 2;
    background: url(images/back9.png) ;
    background-size: cover;
    background-position: center;
    
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
  }


  .button {
    display: none;
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
   
    position: relative;
    overflow: hidden;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
   }
   
   .button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .button:hover::before {
    width: 105%;
   }
   
   .button:hover {
    color: #111;
   }